*.zip
*.code-workspace
*.pyc
*.DS_Store
*.rdb
*.zip
~$*.xlsx
.env
test*
env/
.mypy_cache/
.vscode/
.~lock*
test.py
localData/
__pycache__/
elasticsearch*/
kibana*/
.ipynb_checkpoints
logs/
run/
*/__pycache__/*
