*.zip
*.code-workspace
*.pyc
*.DS_Store
*.rdb
*.zip
*.rdb
~$*.xlsx
.env
test*
env/
.mypy_cache/
.vscode/
.~lock*
.ipynb_checkpoints
test.*
localData/
__pycache__/
elasticsearch*/
kibana*/
logs/
run/
backup/